body
{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
}

.link{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

a{
	margin-top: 20rem;
	color: white;
	font-family: "montserrat",sans-serif;
	text-decoration: none;
	border: 1px #c44569 solid;
	padding: 10px 30px;
	font-size: 18px;
	background: #c44569;
}

@media screen and (max-width:768px) {
	a{
		margin-top: 20rem;
		color: white;
		text-decoration: none;
		border: 1px #c44569 solid;
		padding: 10px 30px;
		font-size: 18px;
	}
}